
@{
    ViewData["Title"] = "Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex;justify-content: space-between;align-items: center; color:#294E7F">

    <h1>@ViewData["Title"]</h1>

</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Clase de hoy
                </th>
                <th>
                    Hora
                </th>
                <th>
                   Registrar Asistencia<!--Aquí debo desarrollar lógica. Cuando presionen botón, asistencia +1-->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Matemáticas Operativas
                </td>
                <td>
                    7:00 pm
                </td>
                <td>
                    <a class="btn btn-sm btn-info">¡Presente!</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
