
@{
    ViewData["Title"] = "Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex;justify-content: space-between;align-items: center; color:#294E7F">

    <h1>@ViewData["Title"]</h1>

</div>
<div>
    <table>
        <thead>
            <tr><th>Marcar Asistencia</th></tr>

        </thead>
    </table>
</div>
