
@{
    ViewData["Title"] = "Qr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display:flex;justify-content: space-between;align-items: center; color:#294E7F">
</div>
<div style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; padding: 10px; display: flex; align-items: center; justify-content: center;">
    <img src="~/Img/AgileAssistProQrNube.png" width="400" height="400" alt="Imagen del Qr" style="margin-right: 10px;" />

    <a href="~/Img/AgileAssistProQrNube.png" download="AgileAssistPro-Qr.png" class="btn btn-primary">
        Generar QR
    </a>
</div>